# Skopiuj do .env.development (na razie wszystko stoi na jednym projekcie SB)
VITE_API_URL=
VITE_SUPABASE_URL=https://azaliqnugozuvhyoepdx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6YWxpcW51Z296dXZoeW9lcGR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyMDgzMjcsImV4cCI6MjA5Njc4NDMyN30.b7UAx9fV8iEPt_8ECm1J-c1ws3YkbAavomFYKxgkbLc
